## Введение в МО

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('data-1666880758074.csv')

              region_name  salary
0          Алтайский край   25960
1        Амурская область   43156
2   Архангельская область   47526
3    Астраханская область   32166
4    Белгородская область   31163
..                    ...     ...
78   Чеченская Республика   26108
79   Чувашская Республика   27028
80           Чукотский АО   96930
81      Ямало-Ненецкий АО   86560
82    Ярославская область   33882

[83 rows x 2 columns]

In [ ]:
data = pd.read_csv('data-1666880758074.csv')

In [ ]:
data.head(5)

             region_name  salary
0         Алтайский край   25960
1       Амурская область   43156
2  Архангельская область   47526
3   Астраханская область   32166
4   Белгородская область   31163

In [ ]:
data.sort_values(by = ['salary'])

                        region_name  salary
48              Республика Дагестан   24550
17  Кабардино-Балкарская Республика   25318
49             Республика Ингушетия   25663
21  Карачаево-Черкесская Республика   25699
50              Республика Калмыкия   25719
..                              ...     ...
34                      Ненецкий АО   77277
10                        г. Москва   78946
81                Ямало-Ненецкий АО   86560
80                     Чукотский АО   96930
31                 Магаданская обл.  101662

[83 rows x 2 columns]

In [ ]:
data.sort_values(by = ['salary']).iloc[[0,10,23]]

            region_name  salary
48  Республика Дагестан   24550
69   Тамбовская область   26754
53      Республика Крым   28400

In [ ]:
data['salary'].mean()

38649.951807228914

In [ ]:
data['salary'].median()

32973.0