# Машинное обучение и анализ данных

## Высшая Школа Цифровой Культуры

## Библиотека $\mathsf{pandas}$

Подключение основных возможностей библиотеки $\mathsf{pandas}$ осуществляется двумя строчками кода:

In [27]:
from pandas import Series, DataFrame
import pandas as pd

### Импорт данных

In [28]:
all_cars = pd.read_csv('pulsar.csv') # Файл auto-mpg.csv находится в той же директории, что и файл Jupyter блокнота

In [29]:
all_cars.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [30]:
all_cars.describe()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
count,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000
mean,111.079968,46.549532,0.477857,1.770279,12.614400,26.326515,8.303556,104.857709,0.091574
std,25.652935,6.843189,1.064040,6.167913,29.472897,19.470572,4.506092,106.514540,0.288432
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976,0.000000
25%,100.929688,42.376018,0.027098,-0.188572,1.923077,14.437332,5.781506,34.960504,0.000000
50%,115.078125,46.947479,0.223240,0.198710,2.801839,18.461316,8.433515,83.064556,0.000000
75%,127.085938,51.023202,0.473325,0.927783,5.464256,28.428104,10.702959,139.309331,0.000000
max,192.617188,98.778911,8.069522,68.101622,223.392140,110.642211,34.539844,1191.000837,1.000000

In [31]:
new_frame = all_cars.loc[lambda df: df['TG'] > 0, :]
new_frame.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
19,99.367188,41.572202,1.547197,4.154106,27.555184,61.719016,2.208808,3.662680,1
42,120.554688,45.549905,0.282924,0.419909,1.358696,13.079034,13.312141,212.597029,1
61,27.765625,28.666042,5.770087,37.419009,73.112876,62.070220,1.268206,1.082920,1
92,23.625000,29.948654,5.688038,35.987172,146.568562,82.394624,-0.274902,-1.121848,1
93,94.585938,35.779823,1.187309,3.687469,6.071070,29.760400,5.318767,28.698048,1

In [32]:
new_frame = all_cars.loc[lambda df: df['TG'] > 0, 'MIP']
new_frame.head()

19     99.367188
42    120.554688
61     27.765625
92     23.625000
93     94.585938
Name: MIP, dtype: float64

In [49]:
new_frame = all_cars.loc[lambda df: df['TG'] == 0, 'MIP']
new_frame.head()
list_l=[]
for d in new_frame:
    if d >=95.8984375 and d<=96.4140625:
        list_l.append(d)

        new_frame2 = all_cars.loc[lambda df: df['TG'] ==1, 'MIP']
new_frame2.head()
for d in new_frame2:
    if d >=77.4921875 and d<=83.7734375:
        list_l.append(d)
print(list_l)        
print(len(list_l))

[96.28125, 96.203125, 96.4140625, 96.0234375, 96.109375, 96.3828125, 96.28125, 95.9140625, 96.234375, 95.9453125, 96.3671875, 96.03125, 96.1328125, 96.296875, 96.0625, 96.3828125, 96.1953125, 96.078125, 96.375, 96.4140625, 95.9765625, 96.1015625, 96.40625, 96.2890625, 96.1015625, 96.2890625, 96.328125, 96.015625, 96.0390625, 95.9296875, 95.953125, 96.0546875, 96.171875, 96.046875, 96.0546875, 96.296875, 95.90625, 96.28125, 96.0859375, 96.203125, 96.2734375, 96.2734375, 95.8984375, 96.21875, 95.9296875, 96.0, 96.375, 96.2265625, 96.0, 96.296875, 95.9765625, 96.171875, 96.1328125, 96.21875, 96.3359375, 96.0390625, 96.03125, 96.1640625, 96.2421875, 96.3671875, 96.3671875, 95.9609375, 96.0703125, 96.0546875, 96.3125, 96.40625, 96.171875, 96.21875, 96.1171875, 95.9140625, 96.109375, 95.9296875, 96.03125, 96.3125, 96.203125, 96.2578125, 95.8984375, 96.15625, 96.171875, 96.28125, 95.90625, 96.0546875, 96.1171875, 95.9140625, 96.15625, 96.171875, 96.0859375, 96.4140625, 96.2109375, 96.2265625, 96.015625, 96.359375, 96.2265625, 96.171875, 96.0625, 96.0625, 96.2109375, 96.015625, 96.21875, 96.3203125, 95.9765625, 96.1328125, 96.0, 80.640625, 80.140625, 80.5234375, 83.359375, 78.265625, 78.0546875, 83.1484375, 79.6953125, 78.6796875, 78.6796875, 80.9609375, 83.3671875, 78.375, 78.8671875, 80.2890625, 79.2421875, 77.8671875, 82.328125, 77.921875, 80.3515625, 80.234375, 81.2265625, 81.6171875, 80.8828125, 81.0, 80.625, 83.1640625, 82.21875, 83.609375, 83.0234375, 80.265625, 82.25, 79.234375, 80.109375, 78.0390625, 77.5703125, 77.5078125, 80.8515625, 83.1640625, 81.0546875, 80.3828125, 82.8203125, 80.4375, 79.7265625, 80.6171875, 81.109375, 82.0078125, 81.890625, 81.4921875, 82.6953125, 79.9375, 77.859375, 78.328125, 79.3125, 81.0390625, 80.5625, 78.1875, 79.4296875, 79.0703125, 81.4765625, 77.4921875, 78.953125, 80.265625, 78.21875, 83.3203125, 80.4140625, 78.1015625, 82.671875, 82.6171875, 79.1484375, 78.0, 82.4296875, 82.21875, 81.6875, 78.421875, 81.0078125, 81.375, 82.953125, 80.6953125, 77.953125, 78.109375, 82.53125, 81.640625, 81.0859375, 83.546875, 81.6640625, 78.7265625, 81.65625, 82.46875, 81.953125, 78.3515625, 80.46875, 83.265625, 82.3828125, 82.625, 83.2578125, 82.2890625, 79.3203125, 78.2265625, 83.7734375, 81.71875]
204

In [50]:
s = pd.Series(list_l)
s

0      96.281250
1      96.203125
2      96.414062
3      96.023438
4      96.109375
         ...
199    82.289062
200    79.320312
201    78.226562
202    83.773438
203    81.718750
Length: 204, dtype: float64

In [54]:
round(s.mean(),3)

88.469

In [53]:
new_frame = all_cars.loc[lambda df: df['TG'] == 0]
new_frame

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0